<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Copropietario</h3>
        </div>
        <div class="class-body"></div>
        <table class=" table table-hover">
            <thead>
                <tr>
                    <th>ID COPROPIETARIO</th>
                    <th>NOMBRE COPROPIETARIO</th>
                    <th>IDENTIFICACION COPROPIETARIO</th>
                    <th>ID INMUEBLE</th>
                </tr>
            </thead>
        </table>
    </div>

</div>